body {
    font-size: 24px;
}

#north, #south {
    margin: auto;
}

#south {
    clear: both;
}

#west {
    clear: left;
    float: left;
}

#east {
    clear: right;
    float: right;
}

.hand {
    width: 7rem;
}

.spades {
    color: black;
}

.hearts {
    color: red;
}

.diamonds {
    color: blue;
}

.clubs {
    color: green;
}

button {
    width: 3em;
    margin: 0.25em;
}

button.pass {
    width: 6.5em;
}

button:disabled {
   opacity: 0.3;
}

.bidboard {
    border: 0.1em solid black;
    width: 8em;
    margin: auto;
}

.redeal {
    float: right;
    width: 5em;
}

.bidhistory {
    font-size: 14px;
    float: left;
    border: 0.05em solid black;
    margin-right: 0.1em;
}