body {
    font-size: 24px;
}

#north, #south {
    margin: auto;
    clear: both;
}

#west {
    float: left;
}

#east {
    float: right;
}

.hand {
    width: 8rem;
}

.spades {
    color: black;
}
.hearts {
    color: red;
}
.diamonds {
    color: blue;
}
.clubs {
    color: green;
}

button {
    width: 3em;
    margin: 0.25em;
}
button.pass {
    width: 6.5em;
}
.bidboard {
    border: 0.1em solid black;
    width: 8em;
    margin: auto;
}