body {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

#north, #south {
    margin: auto;
}

#south {
    clear: both;
}

#west {
    clear: left;
    float: left;
}

#east {
    clear: right;
    float: right;
}

.hand {
    width: 7rem;
    min-height: 5rem;
}

.spades {
    color: black;
}

.hearts {
    color: red;
}

.diamonds {
    /* color: transparent;
    text-shadow: 0 0 0 blue; */
    /* color: blue; */
    color: red;
}

.clubs {
    /* color: transparent;
    text-shadow: 0 0 0 green; */
    /* color: green; */
    color: black;
}

button {
    width: 3em;
    margin: 0.25em;
    margin-bottom: 0;
    margin-top: 0;
}

button.pass {
    width: 10em;
}

button:disabled {
   opacity: 0.3;
}

.bidboard {
    width: 10em;
    margin: auto;
}

.redeal {
    float: right;
    width: 5em;
}

.bidhistory {
    font-size: 14px;
    float: left;
    border: 0.05em solid black;
    margin-right: 0.1em;
    line-height: 0.5rem;
}

.playable {
    transition: all 0.25s ease-in-out;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 0em 0em 5px gold, 0px 0px 10px red;
}

.playable:hover {
    text-shadow: 1px 1px 1px gold, -1px -1px 1px gold, 1px -1px 1px gold, -1px 1px 1px gold, 0em 0em 5px orange, 0px 0px 10px darkred;
    cursor: pointer;
}

.table {
    width: 6rem;
    margin: auto;
    height: 6rem;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    /* font-size: 36px; */
}

/* North */
.table > span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 1rem;
    text-align: center;
    width: 4rem;
}
.table > span:nth-of-type(2) {
    position: absolute;
    top: 1rem;
    left: 0;
    line-height: 4rem;
    height: 4rem;
}
.table > span:nth-of-type(3) {
    position: absolute;
    top: 1rem;
    right: 0;
    line-height: 4rem;
    height: 4rem;
}
.table > span:nth-of-type(4) {
    position: absolute;
    bottom: 0;
    left: 1rem;
    text-align: center;
    width: 4rem;
}
